14_10_2024/venv
14_10_2024/plantillasDjango/plantillasDjango/__pycache__
14_10_2024/desafioguiado/desafioguiado/__pycache__
15_10_2024/venv
15_10_2024/Ejemplo/Ejemplo/__pycache__
15_10_2024/Ejemplo/foro/__pycache__
15_10_2024/Ejemplo/blog/__pycache__
paso
16_10_2024/Ejercicio/Ejercicio/__pycache__