<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Contact</H1>
    <p>
        <form action="#">
            <table>
                <tr>
                    <td>Ingrese su nombre </td>
                    <td><input type="text" name="nombre" id="nombre"></td>
                </tr>
                <tr>
                    <td>Ingrese su correo electrónico</td>
                    <td><input type="text" name="email" id="email"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="enviar" id="enviar"></td>
                </tr>
            </table>
        </form>
    </p>
    <p><a href="/">Volver</a></p>
</body>
</html>